/*stylesheet 1/3 | https://web2qa.transfast.net/DXR.axd?r=1_10,1_12,1_1,1_4,1_5,1_3,1_8,1_7,1_9,1_2,1_11,9_18,9_19,9_21,9_20,9_1,9_17,9_0,9_16,6_1,6_2,6_0-N18Wa*/

img {
    border-width: 0px;
}

img[class^="dx"] {
    max-width: none;
}

.dxsplPane {
    border: 0px solid #8c8c8c;
}

.dxsplPane {
    border-width: 1px;
}

.dxEditors_edtError {
    background-image: url("https://web2qa.transfast.net/DXR.axd?r=1_45-J18Wa");
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxEditors_edtError {
    background-position: -96px -146px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtError {
    display: block;
    margin: auto;
}

[class^="dxeBase"] label {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    margin-bottom: 0px;
    display: inline;
}

.dxeBase {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Tahoma, Geneva, sans-serif;
}


/*stylesheet 2/3 | https://web2qa.transfast.net/Content/css/css?v=RS0-CgM_eJj3WJ_FAWknwRW4ekoC6QjLP0RcyF5gvEM1*/

table {
    border-spacing: 0px !important;
    border-collapse: collapse !important;
}

.WorkPane {
    position: relative !important;
    background-color: #0056a5 !important;
}

textarea {
    overflow: auto;
}

#MainContentSplitter_0 {
    overflow: visible !important;
}

.invoiceAreaLabelTD {
    width: auto;
    padding: 3px 0px 0px 12px !important;
    height: 30px !important;
}

.notRequiredField {
    width: 10px !important;
}

.divSearchInvoiceFilters {
    background-color: #00294f !important;
    margin: 0px 8px 0px 0px !important;
    width: 100% !important;
}

.divInvoicesInHoldHeader {
    background: url("https://web2qa.transfast.net/Content/css/../img/bg/invoice/on_behalf_of_popup_header_bg.jpg");
    border-bottom: 1px solid #868686 !important;
    height: 21px !important;
    margin: 0px !important;
    padding: 8px 0px 0px 16px !important;
    color: #3c3c3c !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: Arial !important;
}

.divSearchInvoiceFilters span {
    padding: 3px 0px 0px !important;
}

.divSearchInvoiceFilters .dxeBase {
    display: block;
}

.searchInvoiceLabel {
    padding: 0px !important;
    margin: 0px !important;
}

.searchInvoiceTD,
.searchInvoiceTDNameField {
    padding: 0px 10px 0px 8px !important;
    margin: 0px !important;
}

.searchInvoiceTDNameField {
    padding: 0px 0px 4px 10px !important;
}

.searchInvoiceTDInputField {
    padding: 0px 10px 0px 0px !important;
    position: relative !important;
}

.searchInvoiceFilterDivContainer {
    min-height: 44px !important;
    padding-left: 0px !important;
    padding-top: 19px !important;
}

.searchInvoiceFilterDivContainer .invoiceAreaLabelTD {
    padding-top: 0px !important;
}

.searchInvoiceFilterDivContainer .searchCustomButton {
    padding-left: 10px;
}

.searchInvoiceLabel {
    font-size: 11px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    color: #000 !important;
    padding: 2px 0px 0px !important;
    margin: 0px 5px 0px 0px !important;
    display: block !important;
    position: relative !important;
    float: left !important;
}

.divInvoicesInHold {
    background-color: #f1f1f1 !important;
    min-height: 43px !important;
}

.divInvoicesInHold .searchInvoiceFilterDivContainer {
    padding-left: 5px !important;
}

.divInvoicesInHoldHeader {}

#divRemittanceInquiryFilter .searchInvoiceFilterDivContainer {
    padding-left: 7px !important;
}

.transactionClave table td:first-child {
    padding-right: 10px;
}

.transactionClave table td:first-child .dxeBase {
    font-weight: bold;
}

.divCustomerTransactionData {
    background-color: #f1f1f1;
    padding: 0px 7px 12px;
}

.customerCareSubmitOptionsHolder {
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    height: 155px;
    border-top: 1px solid #d9d9d9 !important;
}

.customerCareSubmitOptionsHolderLeft {
    float: left;
    width: 49%;
}

.customerCareSubmitOptionsHolderRight {
    border-left: 1px solid #d9d9d9;
    float: right;
    padding-left: 2%;
    width: 48%;
}

.customerCareSubmitOptionsHolderRight .dxeBase {
    font-size: 11px;
    font-family: Arial;
}

.customerCareSubmitOptionsHolder .searchInvoiceTDInputField {
    width: 210px;
    display: inline-block !important;
    padding-bottom: 10px !important;
}

.customerCareSubmitOptionsHolder .searchInvoiceTDNameField {
    vertical-align: top;
}

.customDropDownRemmitanceInquiry {
    padding: 0px 0px 20px !important;
    vertical-align: top !important;
}

#frmRemittanceInquiry {
    font-family: Arial !important;
    font-size: 11px !important;
}

.divInvoicesInHoldHeader {
    text-align: left !important;
}

.searchInvoiceTD:hover {
    cursor: pointer;
}

.text-field {
    width: 195px;
    text-transform: uppercase;
    height: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 0px 8px 0px 5px !important;
    font-size: 11px !important;
    font-family: Arial !important;
    border: 1px solid #c7c7c7 !important;
}

.dropdown-field {
    width: 208px;
    height: 23px;
    font-size: 11px !important;
    font-family: Arial !important;
    padding: 2px 8px 3px 5px !important;
}

.error-img {
    max-width: none;
    float: right;
    display: none;
    vertical-align: text-top;
    position: absolute;
    right: 2px;
    top: 3px;
}

.btn-ActionSmall {
    width: 21px;
    height: 21px;
    cursor: pointer;
    border: 0px !important;
    background-color: transparent !important;
    -webkit-appearance: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.btn-ActionSmall:hover {
    background-position: 0px -21px !important;
}

.ni-btnSearch {
    background: url("https://web2qa.transfast.net/Content/img/btn/invoice/search.png") no-repeat;
}

.RequiredField {
    background: url("https://web2qa.transfast.net/Content/img/elem/required_field.png") 4px no-repeat;
    width: 10px !important;
}

.btn-Common {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    padding: 4px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.btn-Green {
    background: url("https://web2qa.transfast.net/Content/img/btn/invoice/green_button_bg.png") repeat-x !important;
    border: 1px solid #56b700 !important;
}

.btn-Green:hover {
    background: none #56b700 !important;
    border: 1px solid #d4ffaa !important;
}

.fright {
    float: right;
}

.td-field-span {
    white-space: nowrap;
    float: left !important;
}

.searchInvoiceTD > .RequiredField {
    float: left !important;
    min-height: 10px !important;
}

.td-field-span > .error-img {
    position: inherit !important;
    margin: 2px 0px 0px 2px !important;
}

.customDropDownRemmitanceInquiry > .error-img {
    position: inherit !important;
    margin: 2px 0px 0px 2px !important;
}

.td-field-span-textArea > .error-img {
    position: inherit !important;
    margin: -38px -18px 0px 7px !important;
}

.dataTableCustom {
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    height: 650px;
    background-color: #fff !important;
}

.dataTableCustom .dataTables_wrapper {
    margin: 5px;
    height: 80%;
}

.dataTableCustom .dataTables_scrollBody {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0px;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 23px;
    user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-hidden-accessible {
    border: 0px !important;
    clip: rect(0px 0px 0px 0px) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    width: 1px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 22px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
    font-style: italic;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 16px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0px;
    height: 0px;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0px;
}

table.dataTable {
    width: 100%;
    margin: 0px auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0px;
}

.dataTable tr:hover {
    background: #f1f1f1;
}

.dataTable tr {
    color: #737373;
    font-family: Arial;
    font-size: 11px;
}

table.dataTable th {
    background-color: #0075c8 !important;
}

table.dataTable thead th {
    font-weight: bold;
    color: white;
}

table.dataTable td {
    text-align: left;
}

table.dataTable th,
table.dataTable td {
    border: 1px solid #cfcfcf;
}

table.dataTable thead th {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.dataTable thead th:active {
    outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
    cursor: pointer;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
    background-repeat: no-repeat;
    background-position: right center;
}

table.dataTable thead .sorting {
    background-image: url("https://web2qa.transfast.net/Content/css/../img/sort_both.png");
    padding-right: 20px;
}

table.dataTable thead .sorting_asc {
    background-image: url("https://web2qa.transfast.net/Content/css/../img/sort_asc.png");
    padding-right: 20px;
}

table.dataTable tbody tr {
    background-color: #fff;
}

table.dataTable tbody td {
    color: #737373;
}

table.dataTable tbody td {
    padding: 3px 6px 4px;
    overflow: hidden;
    border-width: 0px 1px 1px 0px;
    border-bottom-style: solid;
    border-bottom-color: #cfcfcf;
    border-right-style: solid;
    border-right-color: #cfcfcf;
}

table.dataTable.display tbody td {
    border-top: 1px solid #ddd;
}

table.dataTable.display tbody tr:first-child td {
    border-top: none;
}

table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}

table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

table.dataTable td.dataTables_empty {
    text-align: center;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    box-sizing: content-box;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    padding-top: 10px;
    padding-left: 3px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    padding: 10px 17px 10px 0px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.1em;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none !important;
    color: #333 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    color: #666 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #111;
    background: linear-gradient(rgb(88, 88, 88) 0%, #111 100%);
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background: linear-gradient(rgb(43, 43, 43) 0%, #0c0c0c 100%);
    box-shadow: #111 0px 0px 3px inset;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    color: #333;
}

.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing {
    height: 0px;
    overflow: hidden;
    margin: 0px !important;
    padding: 0px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
    border-bottom: none;
}

.dataTables_wrapper::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0px;
}


/*stylesheet 3/3 | inline*/
