#tf-app-header{

	@include flexRow();
	height: 56px;  // height of header if changed , change menu-left top & menu-right top with same value
	background-color: $color-layout-pri;
	box-shadow :$box-shadow-layout;
}
#tf-app-header-menu-btn, #tf-app-header-logout, #tf-app-header-complaints{
	
	width : 70px;
	transition: background-color 0.2s;
	@include perfectCenter();
}

#tf-app-header-menu-btn:hover, #tf-app-header-logout:hover, #tf-app-header-complaints:hover{
	background-color: $color-layout-sec;
	cursor : pointer;
}

#tf-app-header-logo{
	flex : 1;
	@include verticalCenter();
}

#tf-app-header-content{
	padding: 2px 0px;
    text-align: right;
}
.imgMenuBtn{
	@include navImg("menu.svg", $svg-icons-header);
}
.imgViewComplaint{
	@include navImgNotification("bell.svg" , $svg-icons-header , $color-notify-bg-3);	
}
#tf-app-header-logout{
	color : $color-layout-text;
	text-align : center;
}
#tf-app-header-logout a{
	color : $color-layout-text;
	line-height:56px;
	text-decoration:none;
	width:100%;
}
