#tf-app{
	@include positionFixed();
	@include flexColumn();
}
#tf-app-body{
	flex : 1;
	@include flexRow();
}
#tf-app-body-content{
	flex : 1;
	position: relative;
	background-color: $color-layout-ter;
}
#tf-app-footer{
	height: 0px; // set height of footer , might require to change bottom of left and right menu
	background-color: $color-layout-pri;
}